* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Sofia Pro', sans-serif;
}

body {
  font-size: 16px;
  color: black;
  font-family: 'Sofia Pro', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden !important;
  height: 100%;
  background-color: #f5f5f5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main {
  overflow: hidden;
  background-color: #f5f5f5;
  padding-bottom: 18px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*breakpoints*/
@media (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1140px;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .main__bottom__card {
    min-width: 72px !important;
  }
}

.main {
  background-color: #f5f5f5;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .validation__inner {
  padding: 38px 25px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffd002;
  margin: 27px 0;
}

.main .validation__inner h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  color: #000;
}

.main .validation__inner p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.38;
  color: #1a1a1a;
}

.main .validation__form .disabled {
  border: 1px solid #999;
  background-color: red;
}

.main .validation__form p {
  width: 100%;
  height: 59px;
  padding: 16px 0 16px 17px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.main .validation__form p label {
  display: block;
  position: relative;
  padding-left: 47px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  color: #1a1a1a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .validation__form p label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main .validation__form p label input:checked ~ .checkmark:after {
  display: block;
}

.main .validation__form p label input:checked ~ .checkmark {
  background-color: #ffd002;
}

.main .validation__form p label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.main .validation__form p label .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .validation__form .submit {
  width: 100%;
  text-align: center;
  height: 50px;
  border-radius: 6px;
  opacity: 0.14;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #000;
}

.main .validation__form .submit span {
  color: white;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */